<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="xterm.css">
  <link rel="stylesheet" href="style.css">
  <script src="xterm.js"></script>
  <script src="fit.js"></script>
</head>
<body>
  <div id="terminal"></div> 
  <div id="text"></div>
  <script>
    Terminal.applyAddon(fit);
    const term = new Terminal({
      cols: 24, 
      rows: 24,
      convertEol: true
    })
    term.open(document.getElementById('terminal'))
    term.focus()
    term.fit()

 
    term.write('Hello from \x1B[1;3;31mxterm.js\x1B[0m \r\n')
    let socket
    window.onload = function() {
      if (socket) {
        socket.onerror = socket.onopen = socket.onclose = null;
        socket.close();
      }
      initWs()
    }

    function initWs() {
      try{
        
        const socket = new WebSocket(`ws://localhost:8888`)
        console.log(WebSocket.OPEN)
        socket.onopen = () => {
          console.log('ws open')
          socket.onmessage = evt => {
            console.log(evt.data)
            term.write(evt.data)
            
          }
        }
        socket.onclose = function(event) {
          console.log('onclose called');
        };

        socket.onerror = function(error) {
          console.log('onerror called');
        };
      } catch (error) {
        console.log('连接ws错误')
      }
    }
  </script>
</body>
</html>